## Variables

Names that hold a data stored in the memory and it should have an unique name known as identifier. 

**Assigning value to a variable**


```
x = 5   # It's an integer
name = "Python"  # It's a string
```


![alt text](https://www.pythoneasy.com/static/img/tutorial/variable/x_is_5.png)


---

**Changing value of variables**



```
x = 5   # It's an integer
x = "amazon" # It's a string
x = 40.25   # It's a float
```


![alt text](https://www.pythoneasy.com/static/img/tutorial/variable/x_to_different.png)


---



**Shared Reference**
```
x = 5
y = x
```
![alt text](https://www.pythoneasy.com/static/img/tutorial/variable/shared_ref.png)


```
Now, x = "amazon"
```

![alt text](https://www.pythoneasy.com/static/img/tutorial/variable/shared_ref_reassign.png)


[SOURCE](https://www.pythoneasy.com/python-programming-tutorial/variables-datatypes)

### Naming Conventions

All variable names must follow the following rules:
* Can only contain alpha-numeric characters (A-Z, a-z, 0-9) and the underscore ('_') character
* Must start with a letter or an underscore
* Should _NOT_ start with a number
* Should not be the name of a reserved keyword
  * Examples include _if_, _else_, _elif_, _for_, _while_, _try_ and more ...

**Note:** Variable names are case sensitive, and thus 'name' and 'Name' refer to different variables

In [0]:
name = "Harry" # Valid variable
Name = "Ron" # Valid variable, different from 'name' though
print("name has a value of:", name)
print("Name has a value of", Name)

In [0]:
# These are all valid variables
num = 100 
_num = 10 # Variables can start with underscore
num2 = 201
_num2 = 20.1
# Variables can have numbers between characters / at the end
sh1p_py = "Learn Python while in Shelter-in-place!"

In [0]:
# These are all INVALID variables
2num = 100 # Starts with a number
num.2 = 100 # Includes non-alpha-numeric character
try = "I'm invalid" # Is a reserved keyword


### Types
Each **value** in your program will have a specific data-type. Variables are *assigned* values, and thus a single variable can change what data-type it **holds**.

The `type(<var>)` function lets us know what type the value in a variable is.

Some primitive data-types are:

In [0]:
num = 1234 
print("num is of type:", type(num)) # Integer (int) - Whole number, no decimal places

In [0]:
decimal_num = 12.34 # Float (float) - Real numbers / numbers with decimal places (fractions, etc)
print("decimal_num is of type:", type(decimal_num))

In [0]:
bool_val = True # Boolean (bool) - Can be True or False, represents the 'truth value' of something
print("decimal_num is of type:", type(bool_val))

In [0]:
# String (str) - A sequence of letters / digits / symbols enclosed in single (') or double (") quotes 
sentence = "You're a wizard, Harry!"
print("sentence is of type:", type(sentence))

In [0]:
# Strings: The add (+) operator can be used on strings to concatenate them
howdy = "Howdy"
world = "World!"
print(howdy + " " + world)
# NOTE: When using + operator, all operands involved need to be string values

### Reassigning different data-types
If you reuse the same variable and assign it to a value of another data type, Python will be okay with it.

#### However, this is considered bad practice. It's best to have differen variables for values of different types

In [0]:
variable = 1
variable = "Howdy" 
# This is allowed because python is dynamically typed.  Values have a type, not identifiers.

In [0]:
num = 1234
print("num is of type:", type(num))
print("We'll change the type of num now")
num = "1234"

print("num is of type:", type(num))
# Note that the variable is still called num, but is of type 'str' or String.
# This causes confusion and thus should be avoided

### Changing value data-types

There will be cases where the data you want isn't the data-type you want. You might want to multiply with a number that is in a *string* or add a calculated *integer* value to another *string*.

In [0]:
string_num = "20" # a number inside a string
total = 10 + string_num # This will FAIL because python is strongly typed.  Types cannot be implicitly converted

In [0]:
# Recall, Assignment 0: Gross Pay
# 1. get the number of hours worked

hours = input("Enter the number of hours:  ") 

# Check the data type of hours
type(hours)

In [0]:
# But, we want hours to be a numeric value, specifically, an integer
# recall, to convert it to int, we had

hours = int(input("Enter the number of hours:  "))  # Notice int()


Python offers an easy way to convert between types for valid values:

In [0]:
string_num = "20"
int_num = int(string_num)
total = 10 + int_num
print(total)

# We can convert this number back into a string using a similar method

total_output = "The total is " + str(total) 
# This works with strong typing because a function can have an integer as a 
#parameter and return a string without type coercion involved. 

print(total_output)

In [0]:
# Type conversion does NOT work for invalid values, i.e. values that cannot be
# directly converted into the desired type.

random_string = "These are not the droids you are looking for."
float_random_string = float(random_string) # This will FAIL because 
                                           # random_string is not a valid float

In [0]:
# Type conversions can fail in more niche cases, like when converting from a string
# containing a float to an int.

string_float = "100.20"
int_float = int(string_float) # This will FAIL

#### Swapping Variable values
**Question 1** 

Swap the values in `x` and `y` in the code cells below:

In [0]:
# Let us start with two variables and initialize them with integers

x = 22
y = 77

print(x)  
print(y)

In [0]:
# 1. How would you swap these values? You may use additional variable



print(x)  # should display value of y i.e. 77
print(y)  # should display value of x i.e. 22

In [0]:
# 2. How would you swap these values WITHOUT using any additional variable
# HINT: First, x = x + y , Then y = ?, and finally  ?



print(x)  # should display value of y i.e. 77
print(y)  # should display value of x i.e. 22

In [0]:
# This is the Pythonic way of doing it

x, y = y, x

print(x)  # should display value of y i.e. 77
print(y)  # should display value of x i.e. 22

#### Type Casting
**Question 2** 

Niche ways of converting types

Play around with type conversions and see how the language responds to niche type conversions

In [0]:
# Converting a boolean to a string
key = '+'
check_1 = (key == '-')

print(check_1)
print(type(check_1))

# complete the code below where str_check_1 stores value of check_1 as a string 


print(str_check_1)
print(type(str_check_1))

In [0]:
# Write a code to convert a number to a boolean?



---


## Expressions

Expressions are made of operands and operators.

![alt text](https://d2h0cx97tjks2p.cloudfront.net/blogs/wp-content/uploads/sites/2/2017/12/Python-Operators-2.jpg)


In this lecture, we covered Arithmetic, Relational, and Assignment Operators


### Arithmetic Operators

Python provides basic operators used to perform arithmetic functions on numbers. 

**Note:** Other data-types can use these operators too, but they might not have the same purpose as the one defined here. The given function is only for integers and (some) for floats.

| Operator | What it does | Code |
|----------|----------------------------------------------------------------------|-------------------|
| +        | Adds two numbers | total = 20 + 30   |
| -        | Subtracts two numbers | diff = 52 - 32    |
| *        | Multiplies two numbers |  mult = 10 * 20   |
| /        | Division (floating point)| div = 5 / 2       |
| //       | Integer Division |  i_div = 5 // 2   |
| %        | Modulus: Outputs remainder of division | mod = 5 % 2       |
| **       |  Power/Exponentiation: Raises first value to the power of the second | two_cube = 2 ** 2 |

In [0]:
# There are different ways of using different operators to get to the same answer. 
# Try them out and see what you can find

4_sqrt_1 = 4 ** (1/2)
4_sqrt_2 = 4 ** 0.5

In [0]:
float_div_1 = 100 / 2
print(float_div_1)

int_div_1 = 100 // 2  # integer division
print(int_div_1)


float_div_2 = 100 / 15
print(float_div_2)

int_div_2 = 100 // 15    # integer division
print(int_div_2)

In [0]:
five_square_1 = 5 * 5
print(five_square_1)

five_square_2 = 5 ** 2
print(five_square_2)

five_square_3 = 5 ** 2.0
print(five_square_3)

In [0]:
f_sqrt_1 = 4 ** (1/2)
print(f_sqrt_1)

f_sqrt_2 = 4 ** 0.5
print(f_sqrt_2)

In [0]:
one_over_ten_1 = 1 / 10
print(one_over_ten_1)

one_over_ten_2 = 10 ** (-1)
print(one_over_ten_2)

In [0]:
rem_1 = 100 % 2
print(rem_1)

rem_2 = 100 % 15
print(rem_2)

rem_3 = 10 % 7.0 
print(rem_3)

In [0]:
# Recall, special property of + when used with Strings
text1 = "Howdy! My name is JD"
text2 = "I'm the loudest and proudest member of the Fightin' Texas Aggie Class of 2020 !"

text_Concatenate_1 = text1 + text2
print(text_Concatenate_1)

print(text1 + " and " + text2)  # you can also put an expression directly inside print()

print(text1 + 42 + text2)   # Brace yourself !!!!

### Relational Operators

When creating programs, you might need to compare two values. For example, when making a cashier system, you might want to change the amount of discount for a bill if it's greater than a given value. For such cases and many others, Python provides us with the following operators to compare values:

| Operator | What it does / means (Usage: *val1* operator *val2*)|
|----------|-----------------------------------------------------------------------------|
| ==       | "Equal To": Returns True if a is equal to b|
| !=       | "Not Equal To": Returns True if a is not equal to b|
| <        | "Less Than": Returns True if a is strictly less than b|
| >        | "Greater Than": Returns True if a is strictly greater than b|
| <=       | "Less Than or Equal To": Returns True if a is less than or equal to b|
| >=| "Greater Than or Equal To": Returns True if a is greater than or equal to b |

**Note:** These return **Boolean** values (`True` or `False`), and thus can be assigned to a variable, or used in computation as a Boolean would have.

**Question 3**

In [0]:
# Let us define some variables and assign values to them
num1 = 10
num2 = 15
str_num1 = "10"
float_num1 = 10.0

In [0]:
# Run each statement below by uncommenting one at a time to see the result

# num1 == num1  # True or False ?
# num1 == num2  # True or False ?
# num1 != num2  # True or False ?

**Question 4**

In [0]:
# Run each statement below by uncommenting one at a time to see the result

# num2 > num1  # True or False ?
# num1 < num1  # True or False ?
# num1 <= num1 # True or False ?

**Question 5**

In [0]:
# Run each statement below by uncommenting one at a time to see the result

# num1 == str_num1 # T/F ?, the string version of a number is ________ the same as the number itself
# num1 == float_num1 # T/F ? floats and integers can be compared and are __________ for similar values

### Operator Precedence

| Operator | Description|
|----------|-----------------------------------------------------------------------------|
| ()       | Parenthesis|
| **       | Exponentiation|
| *, //, /, %  | Multiplication, Division , Modulus|
| +, -      | Addition, Subtraction |
| ==, !=, >, <, >=, <= | Relational Operators|
| not| Boolean NOT |
| and| Boolean AND |
| or| Boolean OR |
| =| Assignment|

**Question 6**

Check $$(a+b)^2 = a^2 + b^2 + 2ab$$

Notice how the operators precedence for both LHS and RHS expressions above (Maths) will be same as that in Python code below

In [0]:
# Evaluate LHS (left-hand side) and RHS (right-hand side) of the equation and Check if they are equal

a = 20
b = 5

LHS = (a+b)**2

# Uncomment following two statements and complete them by replacing ? with expressions comprising arithmetic or relational operators

# RHS = ?        
# check = (LHS ? RHS)  # check for equality using ==

print("LHS:", LHS)
print("RHS:", RHS)
print("Check:", check)

**Question 7**

Check $$(a-b)^3 = a^3 - b^3 - 3ab(a-b)$$

In [0]:
# Now, Evaluate LHS (left-hand side) and RHS (right-hand side) of the above equation and Check if they are equal

# choose any 2 values for a and b


#compute LHS


#compute RHS


#compute check



print("LHS:", LHS)
print("RHS:", RHS)
print("Check:", check)

### Augmented Assignment

In [0]:
# We update variable sum (initialized to 0) in each iteration of while loop to print 1 to 10
sum = 0
while (sum<10):  # While value of sum is less than 10, keep entering the loop
  sum = sum + 1  # after running this code, also try with augmented assignment sum+=1
  print(sum)

**Question 8**

In [0]:
# ALWAYS, run the above code cell before running this cell 
# Value of sum has been updated to 10 (as seen in above output)
print(sum)

# Redo above code using augmented assignment to print backwards from 10 to 1
while (sum>1):
  
  # Write augmented assignment to reduce the value of sum by 1 each time


  print(sum)



---


## Printing

Python gives us a simple `print` function to output values. It has the following usage:
```
print(<variable/value>, sep=<separator>, end=<end/postfix>)
```

* The first argument is the variable or the value to output
* The second argument sepcifies the string used as the separator if multiple values are passed to the function. Default value is a space (whitespace)
* The third argument is the string added at the end of the output or a postfix to the output. Default value is newline or '\n'. This is why subsequent print statements are printed on separate lines

In [0]:
# Examples with separator sep (default is space)

year_current = 2020

print("howdy world", year_current)
print("howdy", "world", year_current)

print("howdy", "world", year_current, sep=None)

print("howdy", "world", year_current, sep=' ')

In [0]:
# Examples with separator sep as '@' (can be any character)

year_current = 2020
print("howdy", "world", year_current, sep='@')

# Examples with separator sep as '+' (can be any character)
print("howdy", "world", year_current, sep='+')

# Examples with separator sep as '/'
print('', 'home', 'user', 'documents', sep='/')

# Examples with separator sep as '\n' (newline: makes a single print statement to display all variables/strings in newline )
print("howdy", "world", year_current, sep='\n') # newline character

In [0]:
# Examples with end (default is newline \n)

print("howdy", "world", year_current)
print("I will appear in next line")

In [0]:
# Examples with end as '@' (can be any character)
print("howdy", "world", year_current, end='@')
print("I will appear in same line as above")

# Examples with end as ' ! ' (can be any character)
print("howdy", "world", year_current, end=' ! ')
print("I will appear in same line as above")

# Examples with end as ' ' (makes successive print statements print in same line)
print("howdy", "world", year_current, end=' ')
print("I will appear in same line as above")

**Question 9**

In [0]:
# Try making the following four print statements print on the same line using concepts learnt above! 

print("This")
print("is")
print("all on")
print("the same line")

**Question 10**

In [0]:
# Try making the following appear on separate lines using concepts learnt above

print("This is on line 1.", "This should be on line 2.", "This is on line 3!")

**Question 11**

In [0]:
# Try using both sep and end in the same statement to arrange the three messages as mentioned
# Expected output:
# This is on line 1.
# should be on line 2. This is also on line 2.

print("This is on line 1.", "This should be on line 2.") # just modify this statement to get expected output
print("This is on line 2.")

**Question 12**

In [0]:
# Try printing out "Howdy, I am <name> and I graduated in <year>!" 
# using the variables <name> and <year>, and a print statement
# Use concepts learnt above

name = "?" # Your name goes in ?
year = "?" # Your graduation year goes in ?

### Format Strings

These provide an easy way to **interject values into strings**. There are two major ways of using them:
* using the `format()` function
* using _f-strings_ (These only work in version Python 3.6 and higher)

Playing with `format()`

![alt text](https://www.learnbyexample.org/wp-content/uploads/python/Python-String-format-Method-Syntax.png)

In [0]:
# Format() is empty with no arguments

print("Acts as usual print statement with no arguments within format()".format())

In [0]:
# Format with Named indices as occupation, name 

print("You're a {occupation}, {name}!".format(occupation="Wizard", name="Harry"))

In [0]:
# Format with numbered placeholders

print("You're a {0}, {1}!".format("Witch", "Hermione"))

In [0]:
# Format with numbered placeholders (index ordering based on what value needs to be printed)

print("You're a {1}, {0}!".format("Hermione","Witch"))

In [0]:
# Format with empty placeholders

print("You're a {}, {}!".format("Witch", "Hermione"))

In [0]:
# Format with Strings variables
occupation = "Wizard"
name = "Ron"
print("You're a {}, {}!".format(occupation, name))

In [0]:
# Format with mixture of both Strings and numeric Variables
name_disease = "COVID"
year_disease = 19
year_current = 2020

# Let us print: COVID-19 has impacted toilet paper production starting March 2020
print("{}-{} has impacted toilet paper production starting March {}".format(name_disease, year_disease, year_current ))


#### Right-angled Triangle
![alt text](https://www.wikihow.com/images/thumb/6/60/Find-the-Length-of-the-Hypotenuse-Step-3-Version-4.jpg/aid1578850-v4-728px-Find-the-Length-of-the-Hypotenuse-Step-3-Version-4.jpg.webp)

Height (a), Base(b), Hypotenuse (c)

In [0]:
# Finding hypotenuse of a right-angled traingle where, 
a = 6.2 #height
b = 5.5 #base
c =  (a**2 + b**2)**(1/2)  # square root gives hypotenuse

print("A right-angled triangle with height {} cm and base {} cm has hypotenuse {} cm". format(a,b,c))

In [0]:
# ensuring every numeric value gets printed (using f-strings) with 2 decimal places using {:.2f}, 
# where, .2f stands for 2 decimal places in floating point numbers (real numbers)

print("A right-angled triangle with height {:.2f} cm and base {:.2f} cm has hypotenuse {:.2f} cm". format(a,b,c))

**Playing with *f-strings***

These only work in version Python 3.6 and higher

In [0]:
# Using f-strings
relation = "father"
name = "Luke"

# Note the 'f' in front of the string, that makes it a f-string!
print(f"{name}, I'm your {relation}!")

In [0]:
# All of this works for non-string variables too!
name = "Harry"
points = 20
platform = 9.75 # Platform 9 3/4 at King's Cross Station

print(f"Hogwarts Express arriving at platform {platform}.")
print(f"Good job {name}, {points} points to Gryffindor!")


#### Right-angled Triangle
Redoing with *f-strings* instead

Height (a), Base(b), Hypotenuse (c)

In [0]:
# Finding hypotenuse of a right-angled traingle where, 
a = 6.2 #height
b = 5.5 #base
c =  (a**2 + b**2)**(1/2)  # square root gives hypotenuse

print(f"A right-angled triangle with height {a} cm and base {b} cm has hypotenuse {c} cm")

In [0]:
# ensuring every numeric value gets printed (using f-strings) with 2 decimal places using {variable_name:.2f}, 
# where, .2f stands for 2 decimal places in floating point numbers (real numbers)

print(f"A right-angled triangle with height {a:.2f} cm and base {b:.2f} cm has hypotenuse {c:.2f} cm")

**Question 13**

In [0]:
# Redo, using f-strings
name_disease = "COVID"
year_disease = 19
year_current = 2020

# Now, print: COVID-19 has impacted toilet paper production starting March 2020

 **Playing with *%s , %d, %f***  

%s – for string object

%d – for integer variables

%f – for floating-point  variables (real numbers)

In [0]:
print("My name is %s, I am %d years old." % ("Harry Potter", 10))

In [0]:
#@title
name = "Harry"
age = 10
platform = 9.75
print("My name is %s, I am %d years old. I will be at platform %f" % (name, age, platform))

 # %.2f restricts to 2 decimal places only 
print("My name is %s, I am %d years old. I will be at platform %.2f" % (name, age, platform))

#### Right-angled Triangle
Redoing with *%f* instead

Height (a), Base(b), Hypotenuse (c)

In [0]:
# Finding hypotenuse of a right-angled traingle where, 
a = 6.2 #height
b = 5.5 #base
c =  (a**2 + b**2)**(1/2)  # square root gives hypotenuse

print("A right-angled triangle with height %f cm and base %f cm has hypotenuse %f cm" % (a, b, c))

In [0]:
# ensuring every numeric value gets printed (using f-strings) with 2 decimal places using %.2f, 
# where, .2f stands for 2 decimal places in floating point numbers (real numbers)

print("A right-angled triangle with height %.2f cm and base %.2f cm has hypotenuse %.2f cm" % (a, b, c))